.acbody {
    background: -webkit-linear-gradient(to right, #4568dc, #b06ab3);
    background: linear-gradient(to right, #4568dc, #b06ab3);
}

.btn2 {
    display: inline-block;
    width: 40px;
    height: 40px;

    background-color: aqua;
    border-radius: 50%;
    box-shadow: 0 5px 15px -5px #fbfcfe;
    color: #011209;

}