.form-container{
    display: flex;
    background: #70e1f5;
    background: -webkit-linear-gradient(to right, #42275a, #734b6d);
    background: linear-gradient(to right, #42275a, #734b6d);
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.EnterProduct-Form {
    padding: 50px 25px 0 25px;
     /* background: #C9FFBF; */
     /* background: -webkit-linear-gradient(to right, #ddd6f3, #faaca8);
    background: linear-gradient(to right, #ddd6f3, #faaca8);  */
    background-color: white;
    border-radius: 10px;
    overflow: scroll;
    width: 70%;
    height: 80vh;
}
@media screen and (width <= 1000px) {
    .EnterProduct-Form {
        width: 100%;
    }
}
/* #ddd6f3 → #faaca8
#eacda3 → #d6ae7b
#bdc3c7 → #2c3e50
 #42275a → #734b6d

FFAFBD->C9FFBF */
/* #000428 → #004e92 */

.error{
    color: red;
    padding: 3px;
    display: none;
}
.error2{
    color: red;
    padding: 3px;
}
input:invalid[focused="true"] {
    border:1px solid red;
}
input:invalid[focused="true"] ~ span{
    display: block;
}

select:invalid[focused="true"] {
    border:1px solid red;
}
select:invalid[focused="true"] ~ span{
    display: block;
}