@import url(https://fonts.googleapis.com/css?family=Seaweed+Script);
@import url(https://fonts.googleapis.com/css?family=Arvo:700);

/* Home.css */

body {
    background-color: #2B2B2B;;
}

/* Home.css */
.home {
    margin: 20px;
    height: 100vh;
    color: whitesmoke;
}

.box {
    max-width: 600px;
    padding: 5px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #423F3E;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.home-container {
    margin: auto;
}

.welcome-message {
    font-size: 1.8em;
    margin-bottom: 20px;
}

.description {
    color: whitesmoke;
}

.features {
    margin-top: 30px;
    text-align: center;
}

.items{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin: 25px;
}

.item{
    flex: 1 1 0;
    list-style: none;
}

.get-started {
    margin-top: 30px;
    text-align: center;
}

.get-started p {
    margin: 0;
}

.get-started a {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
}

.get-started a:hover {
    text-decoration: underline;
}
