.inventory{
    background: #232526;
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
    background: linear-gradient(to right, #2c3e50, #bdc3c7);
    height: 100vh;
}

/* #2193b0 → #6dd5ed */
/* #42275a → #734b6d */
/* #bdc3c7 → #2c3e50 */
/* .inventh2{
	color: rgb(5, 44, 79);

} */



.inventh2 {
    text-transform: uppercase;
    font-family: verdana, serif;
    left: 0;
    font-weight: 700;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
	margin-bottom: 50px;
}