.inventory{
    background: #2B2B2B;
    height: 100vh;
}
.inventh2 {
    text-transform: uppercase;
    font-family: verdana, serif;
    left: 0;
    font-weight: 700;
    color: #f5f5f5;
	margin-bottom: 50px;
}